{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<th<f:if condition="{isLast}"> style="text-align:right"</f:if>>
	<v:variable.set name="sortFieldTxt"><f:translate key="listview.{field.name}" default="{field.name}" /></v:variable.set>
	<v:variable.set name="sortField" value="{field.name}" />
	<f:for each="{field.additional}" as="additionalField" iteration="iteration">
		<v:variable.set name="sortFieldTxt">{sortFieldTxt} | <f:translate key="listview.{additionalField}" default="{additionalField}" /></v:variable.set>
		<v:variable.set name="sortField" value="{sortField}|{additionalField}" />
	</f:for>
	<f:if condition="{filter.sortField}!={sortField}">
		<f:then>
			<f:link.action action="index" arguments="{filter: {sortField: sortField, sortDirection: 'ASC'}}" title="Nach \"{sortFieldTxt}\" sortieren">
				{sortFieldTxt}
			</f:link.action>
		</f:then>
		<f:else>
			<f:if condition="{filter.sortDirection}=='ASC'">
				<f:then>
					<v:variable.set name="sortDirection" value="DESC" />
				</f:then>
				<f:else>
					<v:variable.set name="sortDirection" value="ASC" />
				</f:else>
			</f:if>	
			<f:link.action action="index" arguments="{filter: {sortField: sortField, sortDirection: sortDirection}}" title="Nach \"{sortFieldTxt}\" sortieren">
				{sortFieldTxt}
			</f:link.action>
		</f:else>
	</f:if>	
	<span class="sort-asc<f:if condition="{filter.sortField}=={sortField}"><f:if condition="{filter.sortDirection}=='ASC'"> active</f:if></f:if>">
		<f:link.action action="index" arguments="{filter: {sortField: sortField, sortDirection: 'ASC'}}" title="Nach \"{sortFieldTxt}\" aufsteigend sortieren">
			&#9650;
		</f:link.action>
	</span> 
	<span class="sort-desc<f:if condition="{filter.sortField}=={sortField}"><f:if condition="{filter.sortDirection}=='DESC'"> active</f:if></f:if>">
		<f:link.action action="index" arguments="{filter: {sortField: sortField, sortDirection: 'DESC'}}" title="Nach \"{sortFieldTxt}\" Absteigend sortieren">
			&#9660;
		</f:link.action>
	</span> 
</th>