{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">	
	
	<div class="tx-moox-feusers-password-recovery">		
		<f:if condition="{hasMailTemplate}">
			<div class="tx-moox-feusers-form">
				<f:form action="passwordRecovery" controller="FrontendUser" noCache="1" method="POST" id="passwordRecoveryForm" name="recovery" object="{object}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 style="text-align: left">Passwort vergessen?</h3>
							<p>Kein Problem, Sie können Ihr Passwort ganz einfach zurücksetzen und sich ein neues aussuchen.</p>
							<ul>
								<li>Geben Sie dazu Ihren Benutzernamen und/oder Ihre hinterlegte Email-Adresse in die untenstehenden Felder ein und klicken Sie auf "weiter".</li>
								<li>Sollte ein zu Ihren Angaben passender Account gefunden werden, erhalte Sie automatisch eine Email. Die Email enthält einen Link mit Hilfe dessen Sie ein neues Passwort für Ihren Account vergeben können.</li>
								<li>Beachten Sie das der enthaltene Link nur für 48 Stunden gültig bleibt. Danach müssen Sie den Link erneut anfordern.</li>
							</ul>							
						</div>
						<div class="panel-body">
							<div class="form-group<f:if condition="{allErrors.username}"> has-error</f:if>">
								<label class="control-label">{f:translate(key: 'tx_mooxfeusers_frontenduser_form.username')}:</label>
								<f:form.textfield type="text" property="username" placeholder="{f:translate(key: 'tx_mooxfeusers_frontenduser_form.username')}" class="form-control" />
							</div>
							<div class="form-group<f:if condition="{allErrors.email}"> has-error</f:if>">
								<label class="control-label">{f:translate(key: 'tx_mooxfeusers_frontenduser_form.email')}:</label>
								<f:form.textfield type="text" property="email" placeholder="Email-Adresse" class="form-control" />
							</div>
							<div class="tx-moox-feusers-form-buttons">									
								<f:form.button type="submit" class="btn btn-success" title="Link zum Vergeben eines neuen Passworts per Email zuschicken">		
									<span class="glyphicon glyphicon glyphicon-play"></span> &nbsp;weiter							
								</f:form.button>																	
							</div>
						</div>
					</div>
				</f:form>
			</div>
		</f:if>
	</div>

</f:section>

<div class="panel <f:if condition="{passwordError}"><f:then>panel-danger</f:then><f:else>panel-default</f:else></f:if>">
						<div class="panel-heading">
							<h3 style="margin-bottom: 0px">Neues {f:translate(key: 'tx_mooxfeusers_frontenduser_form.header_password')}</h3>							
						</div>
						<div class="panel-body">
							<div class="form-group<f:if condition="{allErrors.password}"> has-error</f:if>">